<a href="/products/<%= @product.id %>/edit" class="btn btn-default" role="button">Edit</a>

  <div class="form-group" style="padding-top: 10px;">
    <label class="col-sm-2 control-label">Name:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @product.name %></p>
    </div>
  </div>  
  <div class="form-group">
    <label class="col-sm-2 control-label">Description:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @product.description %></p>
    </div>
  </div>
  <div class="form-group">  
    <label class="col-sm-2 control-label">Size:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @product.size %></p>
    </div>
  </div>
  <div class="form-group">  
    <label class="col-sm-2 control-label">Base price:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @product.base_price %></p>
    </div>
  </div>
  <div class="form-group">  
    <label class="col-sm-2 control-label">Tax:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @product.tax %></p>
    </div>
  </div>
  <div class="form-group">  
    <label class="col-sm-2 control-label">Total Price:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @product.total_price %></p>
    </div>
  </div>
  <div class="form-group">  
    <label class="col-sm-2 control-label">Expires On:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @product.expiry_on.to_datetime.strftime("%F : %T") %></p>
    </div>
  </div>
  <strong>Images:</strong>
  <% if @product.images %>
    <div class="row">
      <% @product.images.each do |image| %>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="<%= image.url %>">
          </a>
        </div>
      <% end %>
    </div>
  <% else %>
    No Images
  <% end %>
